.loader-container {
  box-shadow: 3px 5px 3px rgb(21, 21, 21);
  border-radius: 50%;
  border: none;
  width: max-content;
  height: max-content;
}

.loader {
  margin-top: 300px;
  border: 16px solid #8292bb;
  border-radius: 50%;
  border-top: 16px solid #070088;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
