.loader-container {
  border-radius: 50%;
  border: none;
  width: max-content;
  height: max-content;
  background-color: rgb(67, 93, 240);
  box-shadow: 3px 1px 3px 3px #606060;
}

.loader {
  margin-top: 250px;
  position: sticky;
  border: 16px solid #8292bbe9;
  border-radius: 50%;
  border-top: 16px solid #070088;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

.loading-title {
  position: absolute;
  color: #02002c;
  font-weight: 600;
  background-color: rgba(130, 146, 187, 0.816);
  border-radius: 10px;
  padding: 10px;
  width: 61px;
  margin-top: 55.5px;
  margin-left:35px;
  font-size: fit-content;
  z-index: 1;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
}


.plus-title {
  opacity: 0;
  transition: 6s;
  -webkit-transform: rotate(90deg);
  -webkit-transform-origin: left top;
  -moz-transform: rotate(90deg);
  -moz-transform-origin: left top;
  -ms-transform: rotate(90deg);
  -ms-transform-origin: left top;
  -o-transform: rotate(90deg);
  -o-transform-origin: left top;
  transform: rotate(90deg);
  transform-origin: left top;
  position: absolute;
  color: #02002c00;
  font-weight: 600;
  background-color: #070088;
  border-radius: 10px;
  padding: 5px;
  top: 382px;
  width: 70px;
  margin-left:95px;
  font-size: 20px;
  box-shadow: 3px 5px 3px rgb(21, 21, 21);
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
}

.rotate {

  -webkit-transform: rotate(90deg);
  -webkit-transform-origin: left top;
  -moz-transform: rotate(90deg);
  -moz-transform-origin: left top;
  -ms-transform: rotate(90deg);
  -ms-transform-origin: left top;
  -o-transform: rotate(90deg);
  -o-transform-origin: left top;
  transform: rotate(90deg);
  transform-origin: left top;

  position: absolute;
  top: 0;
  left: 100%;
  white-space: nowrap;
  font-size: 48px;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
