<div class="body">
  <app-header [customHeader]="['Registration']"></app-header>
  <app-menu [customMenu]="['Registration','Jobs','Login']"></app-menu>
  <span class="page" id="page0">
    <span class="page-title">Registration</span>
    <app-post-create (postCreated)="onPostAdded($event)" class="app-post-create"></app-post-create>
  </span>
  <span class="page" id="page1">
    <span class="page-title">Jobs</span>
    <app-jobs></app-jobs>
  </span>
  <span class="page" id="page2">
    <span class="page-title">Login</span>
    <app-login></app-login>
  </span>
</div>
