<div class="body">
  <div>
    <div>
      <div class="post-list">
        <div class="accordion" (click)="onToggleAccordion()"><div class="title-div">Job: BI Analyst</div>
          <i class="material-icons" id="jobExpand">expand_more</i>
          <i class="material-icons">edit</i>
          <i class="material-icons">delete</i>
        </div>
      </div>
      <div class="post-list">
      <div class="jobPanel" id="jobPanel">
        <span>Title: Data Expert</span>
        <br>
        <span>Department: Data </span>
        <br>
        <span>Level: Manager</span>
        <br>
        <span>Salary: $70,000</span>
        <br>
        <span>Manager: John Conney</span>
        <br>
        <br>
      </div>
      <br>
    </div>
  </div>
</div>
<br>
<div>
