.body {
  position: absolute;
  top: 170px;
  width: 100%;
}

.accordion {
  height: 40px;
  background-color: #eee;
  color: rgb(255, 255, 255);
  font-size: 20px;
  cursor: pointer;
  padding-top: 9px;
  padding-bottom: 9px;
  width: 605px;
  border: none;
  text-align: left;
  outline: none;
  background-color: darkblue;
  box-shadow: 3px 2px 3px 3.5px #989898;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
  display: block;
}

.accordion:hover {
  cursor: pointer;
}

.jobPanel {
  margin-top: 3px;
  width: 605px;
  height: fit-content;
  background-color: rgb(67, 93, 240);
  overflow: hidden;
  color: lightgray;
  font-size: 20px;
  border-radius: 5px;
  padding: 10px;
  display: none;
  padding-bottom: none;
}

.no-posts {
  width: 605px;
  height: fit-content;
  background-color: rgb(80, 80, 80);
  overflow: hidden;
  color: lightgray;
  font-size: 20px;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
}

.post-container {
  display: inline;
}

.post-list {
  display: flex;
  justify-content: center;
}

.title-div {
  background-color: rgb(22, 22, 118);
  width: fit-content;
  padding: 5px;
  border-radius: 10px;
}

i {
  margin: 7px;
  margin-top: -25px;
  float: right;
}

.material-icons {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
}

.material-icons:hover {
  color: rgb(177, 177, 177);
}

.job-feature-div {
  display: block;
  margin-top: 3px;
}

.job-feature-title {
  display: block;
  padding-left: 15px;
  background-color: rgb(0, 0, 103);
  margin-bottom: 3px;
  width: 101%;
  padding-top: 1px;
  padding-bottom: 1px;
  text-align: center;
  margin-left: -15px;
  padding-right: 5px;
}

.job-feature {
  margin-bottom: 3px;
}

@media only screen and (max-width: 500px) {
  .body {
    position: absolute;
    top: 180px;
    width: 100%;
  }

  .accordion {
    height: 40px;
    background-color: #eee;
    color: rgb(255, 255, 255);
    font-size: 216x;
    cursor: pointer;
    padding-top: 9px;
    padding-bottom: 9px;
    width: 305px;
    border: none;
    text-align: left;
    outline: none;
    background-color: darkblue;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    display: block;
  }

  .jobPanel {
    margin-top: 10px;
    width: 305px;
    height: fit-content;
    background-color: rgb(67, 93, 240);
    overflow: hidden;
    color: lightgray;
    font-size: 16px;
    border-radius: 5px;
    padding: 10px;
    display: none;
  }

  .no-posts {
    width: 305px;
    height: fit-content;
    background-color: rgb(80, 80, 80);
    overflow: hidden;
    color: lightgray;
    font-size: 16px;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
  }

  .post-container {
    display: inline;
  }

  .post-list {
    display: flex;
    justify-content: center;
  }

  .title-div {
    background-color: rgb(22, 22, 118);
    width: fit-content;
    padding: 5px;
    border-radius: 10px;
  }

  i {
    margin: 7px;
    margin-top: -25px;
    float: right;
  }
}
