<div class="body">
  <div *ngFor="let job of jobs; let i=index">
    <div>
      <div class="post-list">
        <div class="accordion" (click)="onToggleAccordion(i)"><div class="title-div">{{job}}</div>
          <i class="material-icons" id="accJobIcon{{i}}">expand_more</i>
          <i class="material-icons">edit</i>
          <i class="material-icons">delete</i>
        </div>
      </div>
      <div class="post-list">
      <div class="jobPanel" id="jobPanel{{i}}">
        <span class="job-feature-div"><span class="job-feature-title">Department</span></span>
        <span class="job-feature">{{department[i]}}</span>
        <br>
        <span class="job-feature-div"><span class="job-feature-title">Level</span></span>
        <span class="job-feature">{{level[i]}}</span>
        <br>
        <span class="job-feature-div"><span class="job-feature-title">Salary</span></span>
        <span class="job-feature">{{salary[i]}}</span>
        <br>
        <br>
      </div>
      <br>
    </div>
  </div>
  <br>
</div>
<br>
<br>
<div>
