.body {
  overflow-x: none;
}

.page-title {
  position: absolute;
  top: 65px;
  width: 100%;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: darkblue;
  left: 0;
}

.page-title-text {
  background-color: white;
  color: darkblue;
  padding: 8px;
  border-radius: 10px;
}

#page1 {
  visibility: hidden;
}

#page2 {
  visibility: hidden;
}

#page3 {
  visibility: hidden;
}

