.body {
  overflow-x: hidden;
  overflow-y: hidden;
}

.page-title {
  position: absolute;
  top: 65px;
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  color: darkblue;
  left: 0;
  display: flex;
  justify-content: center;
  border-radius: 10px;
}

.title-panel {
  width: 605px;
  height: 50px;
  background-color: white;
  position: relative;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 3px 3px 3px 3px #888888;
}

#page0 {
  z-index: -1;
}

#page1 {
  visibility: hidden;
  display: flex;
  justify-content: center;
  z-index: -1;
}

#page2 {
  visibility: hidden;
  z-index: -1;
}

#page3 {
  visibility: hidden;
  z-index: -1;
}
#page4 {
  visibility: hidden;
  display: flex;
  justify-content: center;
  z-index: -1;
}

#page5 {
  visibility: hidden;
  display: flex;
  justify-content: center;
  z-index: -1;
}

#page5 {
  visibility: hidden;
}

.page-title-text {
  color: white;
  background-color: rgb(0, 0, 94);
  box-shadow: 3px 3px 5px 6px #ccc;
  padding: 8px;
  border-radius: 10px;
}

.post-create-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

app-post-create {
  position: absolute;
  top: 50px;
}

app-post-list {
  position: absolute;
  top: 50px;
}

.loader-container {
  width: 100%;
  height: 100px;
  top: 50px;
  display: flex;
  justify-content: center;
}

.loader-loader {
  height: 10px;
  position: absolute;
  top: 100px;
}

.user-title-div {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: center;
}

@media only screen and (max-height: 700px) {
.loader-container {
  width: 100%;
  height: 100px;
  display: flex;
  top: 10px;
  justify-content: center;
}


.loader-loader {
  margin-top: -80px;
  top: -30px;
  height: 10px;
  position: absolute;
}
}


@media only screen and (max-width: 900px) {
  .title-panel {
    width: 605px;
    height: 50px;
    background-color: white;
    position: relative;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 3px 3px #888888;
  }

  .page-title {
    position: absolute;
    top: 65px;
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    color: darkblue;
    left: 0;
  }
}

@media only screen and (max-width: 500px) {
  .title-panel {
    width: 275px;
    height: 50px;
    background-color: white;
    position: relative;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 3px 3px #888888;
  }

  .page-title {
    position: absolute;
    top: 65px;
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    color: darkblue;
    left: 0;
  }
}

.body {
  overflow-x: none;
}

#usersPageTitle {
  margin-left: 1px;
  margin-bottom: 5px;
  position: absolute;
  top: 65px;
  width: 605px;
  font-size: 20px;
  font-weight: bold;
  color: darkblue;
  display: flex;
  border-radius: 10px;
  background-color: white;
  background-color: white;
  height: 50px;
  padding: 10px;
  box-shadow: 3px 5px 3px 3px #888888;
}

#usersPageTitleText {
  height: fit-content;
  background-color: white;
  color: rgb(255, 255, 255);
  padding: 5px;
  border-radius: 10px;
  background-color: rgb(0, 0, 94);
  box-shadow: 3px 3px 5px 6px #ccc;
}

@media only screen and (max-width: 900px) {
  #usersPageTitle {
    position: absolute;
    top: 65px;
    font-size: 18px;
    font-weight: bold;
    color: darkblue;
    width: 555px;
    margin-left: 2px;
  }
}


@media only screen and (max-width: 500px) {
  .title-panel {
    width: 405px;
    height: 50px;
    background-color: white;
    position: relative;
    padding: 10px;
  }

  #usersPageTitle {
    position: absolute;
    top: 65px;
    font-size: 17px;
    font-weight: bold;
    color: darkblue;
    width: 305px;
  }

}

@media only screen and (max-width: 900px) {
  #usersPageTitle {
    position: absolute;
    top: 65px;
    font-size: 18px;
    font-weight: bold;
    color: darkblue;
    width: 475px;
  }
}


@media only screen and (max-width: 500px) {
  #usersPageTitle {
    position: absolute;
    top: 65px;
    font-size: 17px;
    font-weight: bold;
    color: darkblue;
  }

}

@media only screen and (min-width: 1200px) {

  .user-title-div {
    position: absolute;
    display: block;
  }

  #usersPageTitle {
      font-size: 17px;
      margin-left: 3%;
      position: absolute;
      background-color: white;
      text-align: left;
      width: 606px;
      height: 60px;
      margin-top: 10px;
      margin-bottom: 10px;
      padding-top: 9px;
      padding-left: 10px;
      padding-right: 10px;
      border-radius: 10px;
  }

  #usersPageTitleText {
      text-align: left;
      position: relative;
      color: white;
      vertical-align: bottom;
      font-size: 25px;
      border-width: 1px;
      margin-left: 5px;
      box-shadow: 0px 0px 0px 0px #888888;
      height: fit-content;
  }

  app-post-list {
    position: absolute;
    top: 70px;
  }

}

.body-2 {
  width: 100%;
  position: absolute;
  top: 50px;
}

.body-2 {
  overflow: hidden;
  height: 100%;
  border-radius: 10px; background-color: rgba(0, 0, 0, 0);
  padding: 10px;
  display: flex;
  justify-content: center;;
}

.chart-container {
  margin-top: 150px;
  position: unset;
  border-radius: 10px;
  width: 75%;
}

.cjs-container {
  display: flex;
  justify-content: center;;
  left: 0;
  width: 100%;
}

.chart-loading-container {
    position: absolute;
    width: 70%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    background-color: white;
    height: 500px;
    position: absolute;
    top: 100px;
    margin-left: 15px;
}

.chart-loading-container-div {
  left: 0;
  height: 50px;
  position: absolute;
  margin-top: 10px;
  display: flex;
  width: 100%;
  justify-content: center;;
  position: absolute;
  top: 100px;
}

#baseChart {
  visibility: hidden;
  width: 75%;
  z-index: -1;
  background-color: rgb(252, 252, 255);
  border-radius: 10px;
  border:1px solid rgb(235, 235, 235);
}

#page1 {
  visibility: hidden;
}

.loading-container {
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;
  height: 500px;
  position: absolute;
  top: 100px;
}

app-kpi-card {
  position: absolute;
  height: 100%;
  width: 75vw;
  margin-top: 20px;
  background-color:rgb(0, 0, 133);
  border-radius: 10px;
  box-shadow: 3px 1px 3px 3px #5e5e5e;
  overflow: none;
}

.kpi-card-strip {
  position: absolute;
  overflow: none;
  display: block;
  width: 100%;
  left: 0;
  height: 105px;
  display: flex;
  z-index: -1;
  justify-content: center;
}


.app-logo {
  width: 20px;
  height: 20px;
}






