<div class="body">
  <app-header [customHeader]="['Demo']"></app-header>
  <app-menu [customMenu]="['Registration','Login','Loader','Jobs','Documents','Visuals']" [customIcons]="['create','login','cached','work','folder','bar_chart']"></app-menu>
  <span class="page" id="page0">
    <span class="page-title"><div class="title-panel"><span class="page-title-text">Registration</span></div></span>
    <div class=post-create-container>
      <app-post-create (postCreated)="onPostAdded($event)" class="app-post-create"></app-post-create>
    </div>
    <br>
  </span>
  <span class="page" id="page1">
    <span class="page-title"><div class="title-panel"><span class="page-title-text">Login</span></div></span>
    <br>
    <app-login></app-login>
  </span>
  <span class="page" id="page2">
    <span class="page-title"><div class="title-panel"><span class="page-title-text">Loader</span></div></span>
    <div class="loader-container" id="appLoader">
      <app-loader class="loader-loader"></app-loader>
    </div>
  </span>
  <span class="page" id="page3">
    <span class="page-title"><div class="title-panel"><span class="page-title-text">Jobs</span></div></span>
    <app-jobs-list></app-jobs-list>
  </span>
  <span class="page" id="page4">
    <span id="usersPageTitle"><span id="usersPageTitleText">Users</span></span>
    <app-advanced-view *ngIf="screenWidth >= 1199"></app-advanced-view>
    <app-post-list [post]="posts" [isDemo]="true"></app-post-list>
    <br>
  </span>
  <span class="page" id="page5">
      <span class="body-2">
        <span class="kpi-card-strip">
          <app-kpi-card [kpiTitle]=visName[visNum] [kpiScore]="kpiScores[visNum]"></app-kpi-card>
        </span>
        <div class="cjs-container">
          <div class="chart-container page" id="page0" style="visibility: visible" *ngIf="!isLoading">
            <canvas id="baseChart" baseChart
                    [datasets]="barChartData"
                    [labels]="barChartLabels"
                    [options]="barChartOptions"
                    [legend]="barChartLegend"
                    [chartType]="barChartType"
                    [colors]="barChartColors">
            </canvas>
          </div>
        </div>
        <br>
      </span>
    <div class="chart-loading-container-div" *ngIf="isLoading">
      <div class="chart-loading-container">
      </div>
    </div>
    <div class="loading-container">
      <app-loader *ngIf="isLoading"></app-loader>
    </div>
  </span>
</div>
