<div class="body">
  <app-header [customHeader]="['Demo']"></app-header>
  <app-menu [customMenu]="['Registration','Login','Loader','Jobs','Documents']"></app-menu>
  <span class="page" id="page0">
    <span class="page-title">Registration</span>
    <app-post-create (postCreated)="onPostAdded($event)" class="app-post-create"></app-post-create>
    <br>
  </span>
  <span class="page" id="page1">
    <span class="page-title">Login</span>
    <app-login></app-login>
  </span>
  <span class="page" id="page2">
    <span class="page-title">Loader</span>
    <div class="loader-container">
      <app-loader></app-loader>
    </div>
  </span>
  <span class="page" id="page3">
    <span class="page-title">Jobs</span>
    <app-jobs-list></app-jobs-list>
  </span>
  <span class="page" id="page4">
    <span class="page-title" id="page4Title">Documents</span>
    <app-post-list [post]="posts" [isDemo]="true"></app-post-list>
    <br>
  </span>
</div>
