<div class="menu" id="menu">
  <div class="menu-items">
    <span (click)="toggleTitle('Login'); togglePage(3)" class="menu-item no-select">Login</span>
    <br>
    <span (click)="toggleTitle('Registration'); togglePage(0)" class="menu-item no-select">Registration</span>
    <br>
    <span (click)="toggleTitle('Jobs'); togglePage(2)" class="menu-item no-select">Jobs</span>
    <br>
    <span (click)="toggleTitle('Documents'); togglePage(1)"  class="menu-item no-select">Documents</span>
  </div>
</div>
