<div class="body">
  <app-loader *ngIf="isLoading"></app-loader>
  <div class="app-logo" id="appLogo">
    <app-logo *ngIf="!pageTitle"></app-logo>
  </div>
  <form [formGroup]="form" class="post-create-div" *ngIf="!isLoading">
    <div class="post-create-header">
      <div class="post-create-user">Complete your profile</div>
    </div>
    <div class="post-create-button" type="button" (click)="filePicker.click()"><i class="material-icons" id="photoSpan">photo</i><span class="photo-span">Photo</span></div>
    <br>
    <div class="post-create-header">
      <div class="personal-info">Enter your personal information</div>
    </div>
    <div class="label">Enter your first name</div>
    <input type="text" rows="6" class="post-create-title" formControlName="firstName" placeholder="First name" required>
    <br>
    <div class="label" id="label">Enter your last name</div>
    <input type="text" rows="6" class="post-create-title" formControlName="lastName" placeholder="Last name" required>
    <br>
    <div class="label">Enter your date of birth</div>
    <input type="date" rows="6" class="post-create-title-date post-create-title" formControlName="dob" placeholder="MM/DD/YYY" required>
    <br>
    <div class="label">Enter your state</div>
    <input type="text" rows="6" class="post-create-title" formControlName="state" placeholder="State" required>
    <br>
    <div class="label">Enter your city</div>
    <input type="text" rows="6" class="post-create-title" formControlName="city" placeholder="City" required>
    <br>
    <div class="label">Enter your zip code</div>
    <input type="text" rows="6" class="post-create-title" formControlName="zip" placeholder="Zip" required>
    <br>
    <!-- <textarea rows="6" ="enteredLetter" class="post-create-textarea" formControlName="" placeholder="Enter your post" required></textarea> !-->
    <br>
    <div class="post-create-header">
      <div class="post-create-user">Enter education history</div>
    </div>
    <div class="label">Enter your most relevent institution</div>
    <input type="text" rows="6" class="post-create-title" formControlName="institution" placeholder="Institution" required>
    <br>
    <div class="label">Enter your degree earned</div>
    <input type="text" rows="6" class="post-create-title" formControlName="degree" placeholder="Degree" required>
    <br>
    <div class="label">Enter your graduation date</div>
    <input type="date" rows="6" class="post-create-title-date post-create-title" formControlName="gradYear" placeholder="Graduation date" required>
    <br>
    <div class="label">Enter your major</div>
    <input type="text" rows="6" class="post-create-title" formControlName="major" placeholder="Major" required>
    <br>
    <div class="label">Enter your minor</div>
    <input type="text" rows="6" class="post-create-title" formControlName="minor" placeholder="Minor" required>
    <br>
    <br>
    <div class="post-create-header">
      <div class="post-create-user">Enter employment history</div>
    </div>
    <div class="label">Enter your most relevent organization</div>
    <input type="text" rows="6" class="post-create-title" formControlName="org" placeholder="Orginization" required>
    <br>
    <div class="label">Enter your position</div>
    <input type="text" rows="6" class="post-create-title" formControlName="position" placeholder="Position" required>
    <br>
    <div class="label">Enter year started</div>
    <input type="date" rows="6" class="post-create-title-date post-create-title" formControlName="jobStart" placeholder="Enter year started" required>
    <br>
    <div class="label">Enter year ended</div>
    <input type="date" rows="6" class="post-create-title-date post-create-title" formControlName="jobEnd" placeholder="Enter year ended" required>
    <br>
    <br>
    <input type="submit" class="button" (click)="onSavePost()" class="post-create-button" value="Submit">
    <br>
    <input type="file" style="visibility:hidden" (change)="onImagePicked($event);" #filePicker id="imagePicker">
    <div class="image-preview" *ngIf="imgPreview !== '' && imgPreview" id="imgPrev">
        <br>
        <div class="image-preview-container">
          <img [src]="imgPreview" [alt]="form.value.firstName" class="image-view">
        </div>
        <br>
        <div class="image-confirm">Is this image good?
          <span class="confirm-image" (click)="imageConfirm()">Yes</span>
          <span class="confirm-image" (click)="filePicker.click()">No</span>
        </div>
    </div>
</form>

