.body {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
  z-index: 2;
}

.post-create-div {
  position: absolute;
  top: 200px;
}

app-loader {
  margin-top: 100px;
}

.post-create-header {
  width: 615px;
  background-color: darkblue;
  border-radius: 5px;
  box-shadow: 3px 2px 2px 1px #575757;
  margin-bottom: 10px;
  padding: 5px;
  color: lightgray;
  font-size: 20px;
  height: 50px;
}

.post-create-title-header {
  width: 615px;
  background-color: blue;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 5px;
  color: rgb(255, 0, 0);
  font-size: 20px;
  height: 50px;
}

.post-create-user {
  font-weight: bold;
  width: fit-content;
  background-color: rgb(22, 22, 118);
  border-radius: 5px;
  padding: 5px;
}

.post-create-title {
  background-color: blue;
  border-radius: 5px;
  padding: 5px;
}

.post-create-title-date {
  text-transform: uppercase;
}

.personal-info {
  font-weight: bold;
  background-color: rgb(22, 22, 118);
  border-radius: 5px;
  padding: 5px;
  width: fit-content;
}

.post-create-textarea {
  background-color: rgb(80, 80, 80);
  resize: none;
  border-radius: 5px;
  border: none;
  color: rgb(85, 85, 85);
  font-size: 20px;
  width: 605px;
  height: 150px;
  padding: 10px;
}

.post-create-title {
  background-color: rgb(67, 93, 240);
  resize: none;
  border-radius: 5px;
  border: none;
  color:   rgb(255, 255, 255);
  font-size: 20px;
  width: 605px;
  padding: 10px;
  box-shadow: 3px 1px 3px 1.5px #989898;
  margin-bottom: 10px;
}

::placeholder {
  color:   rgb(255, 255, 255);
  opacity: 1;
}

.post-create-textarea:focus{
  border: 0 none #FFF;
  overflow: hidden;
  outline: none;
}

.post-create-button {
  box-shadow: 3px 2px 2px 1px #575757;
  border: none;
  border-radius: 5px;
  background-color: rgb(22, 22, 118);
  font-size: 19px;
  font-weight: bold;
  color: lightgray;
  padding: 10px;
  display: flex;
  z-index: 5;
}

.post-create-button:hover {
  cursor: pointer;
}

::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

/* Change the white to any color ;) */
.button:-webkit-autofill,
.button:-webkit-autofill:hover,
.button:-webkit-autofill:focus,
.button:-webkit-autofill:active  {
    background-color: rgb(67, 93, 240) !important;
    color: white;
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: #fff !important;
}

.photo-span {
  position: absolute;
  display: inline;
  margin-left: 35px;
  margin-top: 5.5px;
  font-size: 20px;
  text-align: left;
}

#photoSpan {
  text-align: left;
}

.material-icons {
  position: relative;
  padding: 5px;
}

.image-preview {
  width: 100vw;
  position: fixed;
  background-color: rgb(82, 108, 255);
  top: 100px;
  left: 0;
  height: 5rem;
  margin: 1rem 0;
  height: 315px;

  transition: .2s;
}

.image-preview-container {
  width: 100vw;
  height: 15rem;
  display: flex;
  justify-content: center;
}

.image-preview img {

  height: 240px;
  width: 240px;
  border-radius:10px;
}

.image-confirm {
  color: white;
  font-weight: bold;
  width: 100%;
  text-align: center;
}

.confirm-image {
  background-color: rgb(0, 0, 75);
  border-radius: 10px;
  padding: 5px;
  margin: 5px;
  cursor: pointer;
}

.label {
  border-radius: 5px;
  color: rgb(0, 0, 99);
  font-weight: bold;
  width: 605px;
  text-align: center;
  padding: 10px;
  background-color: white;
  box-shadow: 3px 1px 3px 1.5px #989898;
  margin-bottom: 5px;

}

app-logo {
  position: absolute;
  margin-top: 3px;
  height: 100%;
  opacity: 0.8;
  display: flex;
  margin-left: -50px;
}

.app-logo {
  left: 0;
  margin-top: 95px;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 10vh;
  position: absolute;
}

@media only screen and (max-width: 900px) {
  .body {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
  }

  .post-create-div {
    position: absolute;
  }

  .post-create-header {
    width: 415px;
    background-color: darkblue;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 5px;
    color: lightgray;
    font-size: 16px;
    height: 50px;
  }

  .post-create-title-header {
    width: 405px;
    background-color: blue;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 5px;
    color: lightgray;
    font-size: 16px;
    height: 50px;
  }

  .post-create-user {
    font-weight: bold;
    width: fit-content;
    background-color: rgb(22, 22, 118);
    border-radius: 5px;
    padding: 5px;
  }

  .post-create-title {

    background-color: blue;
    border-radius: 5px;
    padding: 5px;
  }

  .personal-info {
    background-color: rgb(22, 22, 118);
    border-radius: 5px;
    padding: 5px;
    padding: 5px;
    width: fit-content;
  }

  .post-create-textarea {
    background-color: rgb(80, 80, 80);

    resize: none;
    border-radius: 5px;
    border: none;
    color: rgb(85, 85, 85);
    font-size: 16px;
    width: 405px;
    height: 150px;
    padding: 10px;
  }

  .post-create-title {
    background-color: rgb(67, 93, 240);

    resize: none;
    border-radius: 5px;
    border: none;
    color:   rgb(255, 255, 255);
    font-size: 16px;
    width: 405px;
    padding: 10px;
    margin-bottom: 10px;
  }

  ::placeholder {
    color:   rgb(255, 255, 255);
    opacity: 1;
  }

  .post-create-textarea:focus{
    border: 0 none #FFF;
    overflow: hidden;
    outline: none;
  }

  .post-create-button {
    border: none;
    border-radius: 5px;
    background-color: rgb(22, 22, 118);
    font-size: 20px;
    font-weight: bold;
    color: lightgray;
    padding: 10px;
    display: block;
  }

  .post-create-button:hover {
    cursor: pointer;
  }

  /* Change the white to any color ;) */
  .button:-webkit-autofill,
  .button:-webkit-autofill:hover,
  .button:-webkit-autofill:focus,
  .button:-webkit-autofill:active  {
      background-color: rgb(67, 93, 240) !important;
      color: white;
      transition: background-color 5000s ease-in-out 0s;
      -webkit-text-fill-color: #fff !important;
  }

  .label {
    width: 405px;
  }

  .photo-span {
    font-size: 20px;
    text-align: left;
    margin-left: 0px;
  }
}

@media only screen and (max-width: 500px) {
  .body {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
  }

  .post-create-div {
    position: absolute;
  }

  .post-create-header {
    width: 315px;
    background-color: darkblue;
    border-radius: 5px;

    margin-bottom: 10px;
    padding: 5px;
    color: lightgray;
    font-size: 16px;
    height: 50px;
  }

  .post-create-title-header {
    width: 315px;
    background-color: blue;
    border-radius: 5px;

    margin-bottom: 10px;
    padding: 5px;
    color: lightgray;
    font-size: 16px;
    height: 50px;
  }

  .post-create-user {
    font-weight: bold;
    width: fit-content;
    background-color: rgb(22, 22, 118);
    border-radius: 5px;
    padding: 5px;
  }

  .post-create-title {

    background-color: blue;
    border-radius: 5px;
    padding: 5px;
  }

  .personal-info {
    background-color: rgb(22, 22, 118);
    border-radius: 5px;
    padding: 5px;
    width: fit-content;
  }

  .post-create-textarea {
    background-color: rgb(80, 80, 80);

    resize: none;
    border-radius: 5px;
    border: none;
    color: rgb(85, 85, 85);
    font-size: 16px;
    width: 305px;
    height: 150px;
    padding: 10px;
  }

  .post-create-title {
    background-color: rgb(67, 93, 240);

    resize: none;
    border: none;
    color:   rgb(255, 255, 255);
    font-size: 16px;
    width: 305px;
    padding: 10px;
    margin-bottom: 10px;
  }

  ::placeholder {
    color:   rgb(255, 255, 255);
    opacity: 1;
  }

  .post-create-textarea:focus{
    border: 0 none #FFF;
    overflow: hidden;
    outline: none;
  }

  .post-create-button {
    border: none;
    border-radius: 5px;

    background-color: rgb(22, 22, 118);
    font-size: 20px;
    font-weight: bold;
    color: lightgray;
    padding: 10px;
    display: block;
  }

  .post-create-button:hover {
    cursor: pointer;
  }

  /* Change the white to any color ;) */
  .button:-webkit-autofill,
  .button:-webkit-autofill:hover,
  .button:-webkit-autofill:focus,
  .button:-webkit-autofill:active  {
      background-color: rgb(67, 93, 240) !important;
      color: white;
      transition: background-color 5000s ease-in-out 0s;
      -webkit-text-fill-color: #fff !important;
  }

  .label {
    width: 305px;
  }
  .photo-span {
    font-size: 20px;
    text-align: left;
    margin-left: 0px;
  }


}





