<div class="body">
  <app-loader *ngIf="isLoading"></app-loader>
  <form [formGroup]="form" class="post-create-div" *ngIf="!isLoading">
    <div class="post-create-header">
      <div class="post-create-user">Complete your profile</div>
    </div>
    <div class="post-create-header">
      <div class="personal-info">Enter your personal information</div>
    </div>
    <input type="text" rows="6" class="post-create-title" formControlName="firstName" placeholder="Enter your first name" required>
    <br>
    <input type="text" rows="6" class="post-create-title" formControlName="lastName" placeholder="Enter your last name" required>
    <br>
    <input type="text" rows="6" class="post-create-title" formControlName="dob" placeholder="Enter your DOB (MM/DD/YYY)" required>
    <br>
    <input type="text" rows="6" class="post-create-title" formControlName="state" placeholder="Enter your state" required>
    <br>
    <input type="text" rows="6" class="post-create-title" formControlName="city" placeholder="Enter your city" required>
    <br>
    <input type="text" rows="6" class="post-create-title" formControlName="zip" placeholder="Enter your zip code" required>
    <br>
    <!-- <textarea rows="6" ="enteredLetter" class="post-create-textarea" formControlName="" placeholder="Enter your post" required></textarea> !-->
    <br>
    <div class="post-create-header">
      <div class="post-create-user">Enter education history</div>
    </div>
    <input type="text" rows="6" class="post-create-title" formControlName="institution" placeholder="Enter institution" required>
    <br>
    <input type="text" rows="6" class="post-create-title" formControlName="degree" placeholder="Enter degree achieved" required>
    <br>
    <input type="text" rows="6" class="post-create-title" formControlName="gradYear" placeholder="Enter year graduated" required>
    <br>
    <input type="text" rows="6" class="post-create-title" formControlName="major" placeholder="Enter your major" required>
    <br>
    <input type="text" rows="6" class="post-create-title" formControlName="minor" placeholder="Enter your minor" required>
    <br>
    <br>
    <div class="post-create-header">
      <div class="post-create-user">Enter employment history</div>
    </div>
    <input type="text" rows="6" class="post-create-title" formControlName="org" placeholder="Enter orginization" required>
    <br>
    <input type="text" rows="6" class="post-create-title" formControlName="position" placeholder="Enter position" required>
    <br>
    <input type="text" rows="6" class="post-create-title" formControlName="jobStart" placeholder="Enter year started" required>
    <br>
    <input type="text" rows="6" class="post-create-title" formControlName="jobEnd" placeholder="Enter year ended" required>
    <br>
    <br>
    <input type="submit" class="button" (click)="onSavePost()" class="post-create-button" value="Submit">
    <br>
    <button class="post-create-button" type="button" (click)="filePicker.click()"><i class="material-icons">photo</i><span class="photo-span">Photo</span></button>
    <br>
    <input type="file" style="visibility:hidden" (change)="onImagePicked($event)" #filePicker>
    <br>
    <div class="image-preview" *ngIf="imgPreview !== '' && imgPreview">
      <img [src]="imgPreview" [alt]="form.value.firstName">
    </div>
</form>

