@media only screen and (min-width: 1000px) {
  .advanced-view {
    pointer-events: none;
    position: fixed;
    top: 75px;
    width: 40%;
    background-color: white;
    box-shadow: 5px 5px 8px 5px #888888;
    height: 90%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
  }

  .advanced-view-container {
    position: fixed;
    top: 0;
    left: 730px;
    width: 100%;
    height: 100vh;
    padding: 5px;
  }

  .feature-title {
    color: darkblue;
    font-weight: bold;
    visibility: visible;
  }

  .feature-loader {
    display: block;
    position: relative;
    top: 100px;
    visibility: visible;
  }


}

@media only screen and (min-width: 1200px) {
  .advanced-view {
    position: fixed;
    top: 75px;
    width: 59%;
    background-color: white;
    box-shadow: 5px 5px 8px 5px #888888;
    height: 90%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
  }

  .adv-container {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .advanced-view-items {
    width: 100%;
  }

  .advanced-view-container {
    position: fixed;
    top: 0;
    left: 730px;
    width: 100vw;
    height: 100vh;
  }

  .title-panel {
    width: 97.5%;
    margin-top: 5px;
    background-color: darkblue;
    height: 60px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 1px 2px 1px 1px #3a3a3a;
  }

  .adv-title {
    position: relative;
    margin-top: -5px;
    box-shadow: 1px 1px 1px 1px #888888;
    font-size: 20px;
    background-color: rgb(255, 255, 255);
    color: darkblue;
    font-weight: bold;
    width: fit-content;
    padding: 10px;
    border-radius: 10px;
  }

  .user-count {
    position: relative;
    margin-top: -5px;
    box-shadow: 1px 1px 1px 1px #888888;
    font-size: 20px;
    background-color: rgb(255, 255, 255);
    color: darkblue;
    font-weight: bold;
    width: fit-content;
    padding: 10px;
    border-radius: 10px;
    float: right;
    margin-top: -43px;
  }

  .profile-card-container {
    width: 97.5%;
    margin-top: 50px;
    background-color: rgb(67, 93, 240);
    height: 100px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 3px 3px #888888;
  }

  .profile-image {
    width: 100px;
    height: 100px;
    box-shadow: 3px 5px 1px 2px #3a3a3a;
    border-radius: 10px;
    box-shadow: 1px 1px 1px 1px #888888;
  }

  .user-count-value {
    text-align: center;
    font-size: 18px;
  }

  .user-label {
    background-color: darkblue;
    padding: 5px;
    color: white;
    font-weight: bold;
    width: fit-content;
    position: absolute;
    margin-top: -100px;
    margin-left: 110px;
    border-radius: 10px;
    font-size:20px;
    box-shadow: 1px 1px 1px 1px #888888;
  }

  .feature-title {
    color: darkblue;
    font-weight: bold;
    visibility: visible;
  }

  .feature-loader {
    display: block;
    position: relative;
    top: 100px;
    visibility: visible;
  }



}

.advanced-view {
  z-index: -1;
}

.feature-title {
  visibility: hidden;
}

.feature-loader {
  visibility: hidden;
}

