<div class="body">
  <app-header [customHeader]="['Registration']"></app-header>
  <app-menu [customMenu]="['Registration','Login']" [customIcons]="['create','login']"></app-menu>
  <span class="page" id="page0">
    <span class="page-title"><span class="page-title-text">Registration</span></span>
    <div class="app-logo">
      <app-logo></app-logo>
    </div>
    <app-post-create (postCreated)="onPostAdded($event)" class="app-post-create"></app-post-create>
    <br>
  </span>
  <span class="page" id="page1">
    <span class="page-title">Login</span>
    <app-login></app-login>
  </span>
</div>
