<div class="body">
  <div>
    <div>
      <div class="post-list">
        <div class="accordion" (click)="onToggleAccordion()"><div class="title-div">Job</div>
          <i class="material-icons" id="jobExpand">expand_more</i>
          <i class="material-icons">edit</i>
          <i class="material-icons">delete</i>
        </div>
      </div>
      <div class="post-list">
      <div class="jobPanel" id="jobPanel">
        <span>Title:</span>
        <br>
        <span>Department:</span>
        <br>
        <span>Level:</span>
        <br>
        <span>Salary:</span>
        <br>
        <span>Manager:</span>
        <br>
        <br>
      </div>
      <br>
    </div>
  </div>
</div>
<br>
<div>
