<app-header [customHeader]="[title]"></app-header>
<app-menu [customMenu]="['Applicants by Decade','Applicants by Generation']" [customIcons]="['bar_chart','pie_chart']"></app-menu>
<div class="body" style="display: flex; justify-content: center;">
  <div class="body-2">
    <app-kpi-card [kpiTitle]=visName[visNum] [kpiScore]="kpiScores[visNum]"></app-kpi-card>
    <div class="chart-container page" id="page0" style="visibility: visible" *ngIf="!isLoading">
      <canvas baseChart
              [datasets]="barChartData"
              [labels]="barChartLabels"
              [options]="barChartOptions"
              [legend]="barChartLegend"
              [chartType]="barChartType"
              [colors]="barChartColors">
      </canvas>
    </div>
      <div class="chart-container page" id="page1" *ngIf="!isLoading">
        <canvas baseChart
                [datasets]="pieChartData"
                [labels]="pieChartLabels"
                [options]="pieChartOptions"
                [legend]="barChartLegend"
                [chartType]='pieChartType'
                [colors]="barChartColors">
        </canvas>
      <br>
    </div>
    <br>
  </div>
</div>
<div class="chart-loading-container-div" *ngIf="isLoading">
  <div class="chart-loading-container">
  </div>
</div>
<div class="app-logo">
  <app-logo></app-logo>
</div>
<div class="loading-container">
  <app-loader *ngIf="isLoading"></app-loader>
</div>

