.body {
  margin-top: 90px;
  display: flex;
  justify-content: center;
  width: 100vw;
  height: fit-content;
  overflow: hidden;
}

app-loader {
  width: 100%;
}

.error-span {
  font-size: 16px;
  color: rgb(0, 0, 72);
  font-weight: bold;
}

.accordion {
  margin-top: 10px;
  height: 40px;
  background-color: #eee;
  color: rgb(255, 255, 255);
  font-size: 20px;
  cursor: pointer;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 605px;
  border: none;
  display: inline;
  text-align: left;
  outline: none;
  background-color: darkblue;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
  display: block;
}

.panel {
  margin-top: 10px;
  width: 605px;
  height: fit-content;
  background-color: rgb(67, 93, 240);
  overflow: hidden;
  color: lightgray;
  font-size: 20px;
  border-radius: 5px;
  padding: 10px;
  display: none;
}

.no-posts {
  width: 605px;
  height: fit-content;
  background-color: rgb(80, 80, 80);
  overflow: hidden;
  color: lightgray;
  font-size: 20px;
  border-radius: 5px;
  padding: 10px;
  z-index: 30;
  text-align: center;
}

.post-container {
  display: inline;
  overflow: auto;
}

.post-list {
  display: flex;
  justify-content: center;
}

.title-div {
  margin-left: 50px;

  padding: 5px;
  border-radius: 10px;
}

i {
  margin: 7px;
  margin-top: -25px;
  float: right;
}

i {
  background-color: rgb(0, 0, 84);
  border-radius: 10px;
  z-index: 5;
  padding: 5px;
}

.material-icons:hover {
  color: rgb(177, 177, 177);
}

a {
  color: white;
}

.post-image {
  margin-top: -5px;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  position: relative;
  display: inline;
}

.full-name {
  position: relative;
  margin-top: -52px;
  margin-left: 5px;
  background-color: rgb(22, 22, 118);
  width: fit-content;
  padding: 5px;
  border-radius: 5px;
}

.button-group {
  margin-top: -60px;
  margin-left: -100px;
}

.small-button-group {
  margin-top: -80px;
  background-color: black;
  width: 100%;
  height: 100%;
  color: black;
  display: none;
}

.small-button-group-background {
  background-color: green;
  width: 100%;
  height: 100%;
}

  .material-icons {
      -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }

.data-title {
  position: sticky;
  display: block;
  width: 100%;
  text-align: left;
  padding: 5px;
  font-size: 25px;
}

.category-title {
  width: 100%;
  background-color: rgb(0, 0, 114);
  border-radius: 10px;
  text-align: center;
  display: block;
  padding-bottom: 5px;
  padding-top: 5px;
  font-weight: bold;
}

@media only screen and (max-width: 900px) {
  .accordion {
    margin-top: 10px;
    height: 40px;
    background-color: #eee;
    color: rgb(255, 255, 255);
    font-size: 16px;
    cursor: pointer;
    padding-top: 9px;
    padding-bottom: 9px;
    width: 405px;
    border: none;
    text-align: left;
    outline: none;
    background-color: darkblue;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    display: block;
  }

  .panel {
    margin-top: 10px;
    width: 400px;
    height: fit-content;
    background-color: rgb(67, 93, 240);
    overflow: hidden;
    color: lightgray;
    font-size: 16px;
    border-radius: 5px;
    padding: 10px;
    display: none;
  }

  .no-posts {
    width: 400px;
    height: fit-content;
    background-color: rgb(80, 80, 80);
    overflow: hidden;
    color: lightgray;
    font-size: 20px;
    border-radius: 5px;
    padding: 10px;
    z-index: 30;
    text-align: center;
  }

  .post-container {
    display: inline;
    overflow: auto;
  }

  .post-list {
    display: flex;
    justify-content: center;
  }

  .title-div {
    width: fit-content;
    padding: 5px;
    border-radius: 10px;
  }

  i {
    margin: 7px;
    margin-top: -25px;
    float: right;
  }

  .material-icons:hover {
    color: rgb(177, 177, 177);
  }

  a {
    color: white;
  }

  .button-group {
    margin-top: -50px;
  }
}

@media only screen and (max-width: 500px) {
  .accordion {
    margin-top: 10px;
    height: 40px;
    background-color: #eee;
    color: rgb(255, 255, 255);
    font-size: 16px;
    cursor: pointer;
    padding-top: 7px;
    padding-bottom: 7px;
    width: 275px;
    border: none;
    text-align: left;
    outline: none;
    background-color: darkblue;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    display: block;
  }

  .panel {
    margin-top: 10px;
    width: 270px;
    height: fit-content;
    background-color: rgb(67, 93, 240);
    overflow: hidden;
    color: lightgray;
    font-size: 15px;
    padding: 10px;
    display: none;
  }

  .no-posts {
    width: 400px;
    height: fit-content;
    background-color: rgb(80, 80, 80);
    overflow: hidden;
    color: lightgray;
    font-size: 20px;
    border-radius: 5px;
    padding: 10px;
    z-index: 30;
    text-align: center;
  }

  .post-container {
    display: inline;
    overflow: auto;
  }

  .post-list {
    display: flex;
    justify-content: center;
  }

  .title-div {
    width: fit-content;
    padding: 5px;
    border-radius: 10px;
  }

  i {
    margin: 7px;
    margin-top: -25px;
    float: right;
  }

  .material-icons:hover {
    color: rgb(177, 177, 177);
  }

  a {
    color: white;
  }

  .post-image {
    margin-top: 1px;
    width: 39px;
    height: 39px;
    border-radius: 10px;
    position: relative;
    display: inline;
  }

  .full-name {
    position: relative;
    margin-top: -44px;
    margin-left: -5px;
    background-color: rgb(22, 22, 118);
    width: fit-content;
    padding: 5px;
    border-radius: 5px;
    font-size: 14px;
    z-index: 0;
  }

  .invisible-icon {
    margin-top: -45px;
    background-color: black;
    color: white;
    visibility: hidden;
    z-index: 8;
  }

  i {
    background-color: rgb(0, 0, 84);
    border-radius: 10px;
    z-index: 5;
  }

  .data-title {
    font-size: 15px;
  }
}

