<div class="body">
  <div class="app-loader-container">
    <app-loader *ngIf="isLoading && !isDemo" ></app-loader>
  </div>
  <div>
    <span class="error-span" *ngIf="post.length == 0 && isDemo">The application is empty or not connected.</span>
  </div>
  <div *ngIf="post.length > 0 && !isLoading">
        <div *ngFor="let post of post; index as i; first as isFirst" class="post-container">
          <div class="user-list">
            <div class="accordion">
              <div class="post-image-div">
                 <img class="post-image" [src]="post.imagePath" [alt]="post.firstName">
              </div>
              <div id="acc{{i}}"><div class="title-div">
                <div class="full-name">{{post.firstName + " " + post.lastName}}</div>
              </div>
                <br>
                <div class="button-group">
                  <i class="material-icons acc-icons" id="accIcon{{i}}" (click)="onToggleAccordion(i)">expand_more</i>
                  <i class="material-icons acc-icons invisible-icon" id="editIcon" [routerLink]="['/edit', post.id]">edit</i>
                  <i class="material-icons acc-icons invisible-icon" id="deleteIcon" (click)="onDelete(post.id, post.firstName, post.lastName)">delete</i>
                </div>
              </div>
            </div>
            <div class="post-list">
            <div class="panel" id="panel{{i}}">
              <span class="category-title">First name</span>
              <span class="data-title">{{post.firstName}}</span>
              <span class="category-title">Last name</span>
              <span class="data-title">{{post.lastName}}</span>
              <span class="category-title">Date of birth</span>
              <span class="data-title">{{dob[i]}}</span>
              <span class="category-title">State</span>
              <span class="data-title">{{post.state}}</span>
              <span class="category-title">City</span>
              <span class="data-title">{{post.city}}</span>
              <span class="category-title">Zip Code</span>
              <span class="data-title">{{post.zip}}</span>
              <span class="category-title">Educational Institution</span>
              <span class="data-title">{{post.institution}}</span>
              <span class="category-title">Degree Achieved</span>
              <span class="data-title">{{post.degree}}</span>
              <span class="category-title">Grad Year</span>
              <span class="data-title">{{gradYear[i]}}</span>
              <span class="category-title">Major</span>
              <span class="data-title">{{post.major}}</span>
              <span class="category-title">Minor</span>
              <span class="data-title">{{post.minor}}</span>
              <span class="category-title">Orginization</span>
              <span class="data-title">{{post.org}}</span>
              <span class="category-title">Position</span>
              <span class="data-title">{{post.position}}</span>
              <span class="category-title">Year Started</span>
              <span class="data-title">{{jobStart[i]}}</span>
              <span class="category-title">Year Ended</span>
              <span class="data-title">{{jobEnd[i]}}</span>
              <br>
            </div>
            <br>
          </div>
        </div>
  </div>
  <br>
  <div *ngIf="post.length <= 0" class="no-posts">No posts added yet</div>
</div>



