<div class="menu" id="menu">
  <div class="menu-list">
    <div *ngFor="let menu of customMenu; index as i; first as isFirst">
      <div class="menu-item-div">
        <i class="material-icons">{{customIcons[i]}}</i>
        <span (click)="toggleTitle(menu); togglePage(i)" class="menu-item no-select" id=menu{{i}}>{{menu}}</span>
      </div>
    </div>
    <div>
      <div class="menu-item-div-spoof">
        <i class="material-icons"></i>
        <span class="menu-item-spoof no-select"></span>
      </div>
    </div>
  </div>
</div>
