.kpi-title {
  position: relative;
  color: white;
  top: 5px;
  margin-left: 10px;
  font-size: 25px;
  background-color: rgb(22, 22, 118);
  padding: 5px;
  border-radius: 10px;
  font-weight: bold;
}

.kpi-score {
  float: right;
  position: relative;
  color: rgb(35, 35, 35);
  top: 5px;
  margin-right: 10px;
  font-size: 25px;
  background-color: white;
  border-radius: 10px;
  padding: 5px;
  font-weight: bold;
}

@media only screen and (max-width: 900px) {
  .kpi-title {
    font-size: 16px;
  }
  .kpi-score {
    font-size: 19px;
  }

}
